
<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
            {{{navigation}}} 
			{{{menu}}}
			<section class="text-left mt-0">
				<div class="container">
					<div class="row align-items-baseline">
						<div class="col-12 col-lg-6">
							<h3>Impressum</h3> 

							<p><span class="tsmcontroller">Markus Ealy (Sysea)<br>
							Ebersgönser Weg 11<br>
							35510 Butzbach<br>
							Deutschland</span><br><br>

							E-Mail: me@sysea.de<br>
							<strong>Vertreten durch:</strong><br>
							Markus Ealy
							</p>
						</div>
						<div class="col-12 col-lg-6">
							<form id="contact-form">
								<h3>Nimm Kontakt mit uns auf!</h3>
								<div class="form-row">
									<div class="form-group col-md-6">
										<span class="positioning">
											<input type="text" class="pp-input pp-dark" id="contactname" placeholder="Name *">
										</span>
									</div>
									<div class="form-group col-md-6">
										<input type="email" class="pp-input pp-dark" id="contactmail" placeholder="E-Mail-Adresse *">
									</div>
									<div class="form-group col-12">
										<textarea style="resize: none;" id="contactmessage" rows="4" class="pp-input pp-dark" placeholder="Nachricht *"></textarea>
									</div>
									<p class="pp-text-dark">* Pflichtfelder</p>
									<div class="form-group col-12">
										<label class="checkbox-mask-wrapper" for="privacy-checkbox">
											<input type="checkbox" id="privacy-checkbox">
											<span class="checkbox-mask"></span>
											<span>Du erklärst Dich damit einverstanden, dass Deine Daten zur Bearbeitung Deines Anliegens verwendet werden. Weitere Informationen und Widerrufshinweise findest Du in der <a href="./privacy">Datenschutzerklärung</a>.</span>
										</label>
									</div>
									<div class="form-group col-6">
										<input type="button" id="contact-submit" class="pp-btn" value="Absenden" disabled>
									</div>
								</div>
							</form>
						</div>
					</div>
					
				</div>
			</section>
		</div>
		{{{scripts}}}
	</body>
</html>