<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
            {{{navigation}}} 
            {{{menu}}}
			<div class="container">
				<div class="cardregister-form">
                    <h4>E-Mail ist unterwegs</h4>
                    <div class="cardregister-top">
                        <div class="pp-card card-shadow">
                            <div class="pp-brand">
                                <p class="mb-0">Du erhälst in kürze einen Bestätigungslink per E-Mail. Klicke auf diesen Link, um anschließend dein Passwort ändern zu können.</p>
                            </div>
                        </div>
                    </div>
                    {{{simpleFooter}}}
                </div>
            </div>
        </div>
        {{{scripts}}}
	</body>
</html>
