
<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
            {{{navigation}}} 
			{{{menu}}}
			<section class="text-left mt-0">
				<div class="container">
					<div class="row align-items-baseline">
						<div class="col-12 col-lg-6">
				
							<div class="pp-card">
								<h3>E-Mail-Adresse ändern</h3> 
								<div class="form-row" id="email-change-form">
									<div class="form-group col-12">
										<input type="email" id="current-email" class="pp-input input-dark" value="{{currentEmail}}" disabled>
									</div>
									<div class="form-group col-xl-6 col-12">
										<input type="email" id="new-email" class="pp-input input-dark" placeholder="Neue E-Mail-Adresse">
									</div>
									<div class="form-group col-xl-6 col-12">
										<input type="password" id="confirm-email-password" class="pp-input input-dark" placeholder="Bestätigen mit Passwort">
									</div>
									<div class="form-group col-xl-6 col-12">
										<button id="submit-email-change" class="pp-btn">Bestätigen</button>
									</div>
									{{{provider}}}
								</div>
							</div>
	
						</div>
						<div class="col-12 col-lg-6">
							<div class="pp-card">
								<h3>Passwort ändern</h3>


								<div class="form-row" id="password-change-form">
									<!--<div class="form-group col-12">
										<input type="password" id="current-password" class="pp-input input-dark" placeholder="Altes Passwort" disable>
									</div>
									<div class="form-group col-xl-6 col-12">
										<input type="password" id="new-password" class="pp-input input-dark" placeholder="Neues Passwort">
									</div>
									<div class="form-group col-xl-6 col-12">
										<input type="password" id="confirm-new-password" class="pp-input input-dark" placeholder="Neues Passwort bestätigen">
									</div>
									<div class="form-group col-xl-6 col-12">
										<button id="submit-password-change" class="pp-btn">Bestätigen</button>
									</div>-->
									<button class="pp-btn mx-0" id="reset-password">Passwort ändern</button>
								</div>
								 

							</div>

						</div>
					</div>
					<!--{{{simpleFooter}}}-->
				</div>
			</section>
		</div>
		{{{scripts}}}
	</body>
</html>