<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root">
			{{{navigation}}} 
			{{{menu}}}
			<section class="receipts">
				<div class="container" id="receiptsParent">
					<div class="row align-items-baseline">
						<div class="col-xl-4 col-12 filtercol">
							<div class="filteroptions-wrapper">
								<button class="" id="date-filter-toggle"><i class="far fa-calendar-alt"></i>Datum</button>
								<button class="" id="shop-filter-toggle"><i class="far fa-store"></i>Geschäft</button>
								<button class="" id="product-filter-toggle"><i class="far fa-shopping-cart"></i>Artikel</button>
							</div>
							<div class="filter-wrapper">
								<div class="date-filters">
									<input type="date" class="" id="date-from">
									<input type="date" class="" id="date-to">
								</div>	
								<div class="shop-filter">
									<input type="text" class="" id="shop" placeholder="Geschäft suchen">
								</div>
								<div class="product-filter">
									<input type="text" class="" id="product" placeholder="Artikel suchen">
								</div>
							</div>
						</div>
						<div class="col-xl-8 col-12 receipcol">
							<div class="row">
								<div class="col-xl-6 col-12 desktopToday">
									<p class="receipt-date">Heute</p c>
									<div class="card receipt">
										<div class="card-header" id="receiptHead-123"> <!--id="receipt-<id>"-->
										  <h2 class="mb-0">
											<button class="btn btn-link collapsed bill-info-short" type="button" data-toggle="collapse" data-target="#receipt-123" aria-expanded="true" aria-controls="receipt-123">
												<div class="vendor-info-short">
													<div class="vendor-brand"></div>
													<div class="purchase-info-short">
														<p class="vendor-name">REWE Center Butzbach</p>
														<p class="purchase-time">13:48</p>
													</div>
													<div class="purchase-amount">
														<p>33,75 €</p>
													</div>
												</div>
											</button>
										  </h2>
										</div>
									
										<div id="receipt-123" class="collapse" aria-labelledby="receiptHead-123">
											<div class="card-body">
												<section class="item-row">
													<div class="container">
														<div class="row">
															<div class="col-8 item-name-col">
															
																	<div class="row">
																		<div class="col-12 item-name">Pizza Dr. Oethker Salami</div>
																		<div class="col-12 item-name">Frischkäse</div>
																		<div class="col-12 item-name">Nudeln Miracoli</div>
																	</div>
																
															</div>
															<div class="col-4 item-price-col">
															
																	<div class="row">
																		<div class="col-12 item-price">2,79</div>
																		<div class="col-12 item-price">1,24</div>
																		<div class="col-12 item-price">2,99</div>
																	</div>
																
															</div>
															<!--<div class="col-1 item-tax-col">
															
																	<div class="row">
																		<div class="col-12 item-tax">A</div>
																		<div class="col-12 item-tax">B *</div>
																		<div class="col-12 item-tax">B *</div>
																	</div>
															
															</div>-->
														</div>
													</div>
												</section>
												<section class="amount-row">
													<div class="container">
														<div class="row">
															<div class="col-6 amount-hl-col">
														
																	<div class="row">
																		<div class="col-12 amount-hl">Summe</div>
																		<div class="col-12 amount-paymethod-hl">Geg. EC-Cash</div>
																	</div>
														
															</div>
															<div class="col-6 amount-col">
																
																	<div class="row">
																		<div class="col-12 amount">33,75 €</div>
																		<div class="col-12 amount-paymethod">33,75 €</div>
																	</div>
															
															</div>
														</div>
													</div>
												</section>
												<section class="receipt-info-row">
													<div class="container">
														<div class="row">
															<div class="col-6 receipt-info-hl-col">
															
																	<div class="row">
																		<div class="col-12 receipt-number-hl">Beleg-Nr.</div>
																		<div class="col-12 receipt-trace-number-hl">Trace-Nr.</div>
																	</div>
															
															</div>
															<div class="col-6 receipt-info-number-col">
														
																	<div class="row">
																		<div class="col-12 receipt-number">4088</div>
																		<div class="col-12 receipt-trace-number">689472</div>
																	</div>
														
															</div>
														</div>
													</div>
												</section>
												<section class="eccard-info-row">
													<div class="container">
														<div class="row">
															<div class="col-12 eccard-info-hl">Kartenzahlung girocard</div>
																<div class="col-6 eccard-info-hl-col">
															
																		<div class="row">
																			<div class="col-12 eccard-number-hl">Nr.</div>
																			<div class="col-12 eccard-vu-number-hl">VU-Nr.</div>
																			<div class="col-12 eccard-terminal-id-hl">Terminal-ID</div>
																			<div class="col-12 eccard-pos-info-hl">Pos-Info</div>
																			<div class="col-12 as-time-hl">AS-Zeit 13.12.</div>
																			<div class="col-12 eccard-amount-hl">Betrag EUR</div>
																		</div>
																
																</div>
																<div class="col-6 eccard-info-col">
																
																		<div class="row">
																			<div class="col-12 eccard-number-hl">###############1234 5678</div>
																			<div class="col-12 eccard-vu-number-hl">5671239846</div>
																			<div class="col-12 eccard-terminal-id-hl">68073495</div>
																			<div class="col-12 eccard-pos-info-hl">00 045 00</div>
																			<div class="col-12 as-time-hl">14:56 Uhr</div>
																			<div class="col-12 eccard-amount-hl">33,75 €</div>
																		</div>
																
																</div>
															<div class="col-12 eccard-info-paid-hl">Zahlung erfolgt</div>
														</div>
													</div>
												</section>
												<section class="tax-row">
													<div class="container">
														<div class="row">
															<div class="col-3 tax-percentage-col">
															
																	<div class="row">
																		<div class="col-12 tax-percentage-hl">Steuer %</div>
																		<div class="col-12 tax-percentage-a">A = 19,0 %</div>
																		<div class="col-12 tax-percentage-b">B = 7,0 %</div>
																		<div class="col-12 tax-amount-hl">Gesamtbetrag</div>
																	</div>
														
															</div>
															<div class="col-3 tax-net-col">
														
																	<div class="row">
																		<div class="col-12 tax-net-hl">Netto</div>
																		<div class="col-12 tax-net-a">XX,XX €</div>
																		<div class="col-12 tax-net-b">XX,XX €</div>
																		<div class="col-12 tax-net-amount">XX,XX €</div>
																	</div>
															
															</div>
															<div class="col-3 tax-col">
														
																	<div class="row">
																		<div class="col-12 tax-hl">Steuer</div>
																		<div class="col-12 tax-a">XX,XX €</div>
																		<div class="col-12 tax-b">XX,XX €</div>
																		<div class="col-12 tax-amount">XX,XX €</div>
																	</div>
															
															</div>
															<div class="col-3 tax-gross-col">
															
																	<div class="row">
																		<div class="col-12 tax-gross-hl">Brutto</div>
																		<div class="col-12 tax-gross-a">XX,XX €</div>
																		<div class="col-12 tax-gross-b">XX,XX €</div>
																		<div class="col-12 tax-gross-amount">XX,XX €</div>
																	</div>
															
															</div>
														</div>
													</div>
												</section>
												<section class="concessionaire-tax-row">
													<div class="container">
														<div class="row">
															<div class="col-12 concessionaire-tax-hl">Konzessionär: X01</div>
															<div class="col-3 tax-percentage-col">
															
																	<div class="row">
																		<div class="col-12 tax-percentage-b">B = 7,0 %</div>
																		<div class="col-12 tax-amount-hl">Gesamtbetrag</div>
																	</div>
															
															</div>
															<div class="col-3 tax-net-col">
																
																	<div class="row">
																		<div class="col-12 tax-net-b">XX,XX €</div>
																		<div class="col-12 tax-net-amount">XX,XX €</div>
																	</div>
															
															</div>
															<div class="col-3 tax-col">
															
																	<div class="row">
																		<div class="col-12 tax-b">XX,XX €</div>
																		<div class="col-12 tax-amount">XX,XX €</div>
																	</div>
															
															</div>
															<div class="col-3 tax-gross-col">
														
																	<div class="row">
																		<div class="col-12 tax-gross-b">XX,XX €</div>
																		<div class="col-12 tax-gross-amount">XX,XX €</div>
																	</div>
															
															</div>
															<div class="col-12 concessionaire-info">Die mit X01 gekennzeichneten Artikel sowie die darauf entfallenden MWSt wurden in Namen und auf Rechnung von Sushi Circle Gastronomie GmbH Phillip-Reis-Straße 4 Butzbach Steuer-Nr.: 4724378038 vereinnahmt.</div>
														</div>
													</div>
												</section>	
												<section class="vendor-info-row">
													<div class="container">
														<div class="row">
															<div class="col-6 vendor-info-hl-col">
															
																	<div class="row">
																		<div class="col-12 vendor-bill-number-hl">Bon-Nr.: </div>
																		<div class="col-12 vendor-shop-number-hl">Markt: </div>
																		<div class="col-12 vendor-checkpoint-number-hl">Kasse:</div>
																		<div class="col-12 vendor-staff-number-hl">Bed.:</div>
																		<div class="col-12 vendor-tax-number-hl">Steuer-Nr.:</div>
																		<div class="col-12 vendor-uid-number-hl">UID-Nr.:</div>
																	</div>
															
															</div>
															<div class="col-6 vendor-info-col">
															
																	<div class="row">
																		<div class="col-12 vendor-bill-number">8162</div>
																		<div class="col-12 vendor-shop-number">6116</div>
																		<div class="col-12 vendor-checkpoint-number">5</div>
																		<div class="col-12 vendor-staff-number">131313</div>
																		<div class="col-12 vendor-tax-number">123 456 7891</div>
																		<div class="col-12 vendor-uid-number">DE123456789</div>
																	</div>
															
															</div>
														</div>
													</div>
												</section>
												<section class="receipt-barcode">
													<div class="container">
														<img src="../img/barcodeexample.png" alt="Barcode Example">
													</div>
												</section>
												<section class="vendor-contact">
													<div class="container">
														<p>Wir sind für Sie da:</p>
														<ul class="vendor-contact-info">
															<li><i class="fas fa-clock"></i>Mo.-Sa. von 7.00 bis 22.00 Uhr</li>
															<li><i class="fas fa-phone"></i>Telefon: 06033 / 950300</li>
															<li><i class="fas fa-globe"></i>Mehr Infos unter www.rewe.de</li>
															<li><i class="fas fa-store"></i>REWE Center Butzbach, Phillip-Reis-Straße 4</li>
														</ul>
													</div>
												</section>
												<div class="container">
													<section class="advertising">
														<p><b>Noch keine PAYBACK Karte?</b></p>
														<p><b>Für diesen Einkauf hätten Sie 22 Punkte erhalten!</b></p>
														<p>Gleich hier am REWE Service-Punkt im Markt anmelden oder auf www.rewe.de/payback</p>
														<p>Für die mit * gekennzeichneten Produkte erhalten Sie leider keine Rabatte oder PAYBACK Punkte.</p>
													</section>
												</div>
											</div>
										</div>
									</div>
									<div class="card receipt">
										<div class="card-header" id="receiptHeader-1234"> <!--id="receipt-<id>"-->
										  <h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#receipt-1234" aria-expanded="true" aria-controls="receipt-1234">
											  Collapsible Group Item #1
											</button>
										  </h2>
										</div>
									
										<div id="receipt-1234" class="collapse" aria-labelledby="receiptHeader-1234" data-parent="#receiptsParent">
										  <div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										  </div>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-12 desktopPast">
									<p class="receipt-date">13.01.2020</p>
									<div class="card receipt">
										<div class="card-header" id="receiptHead-1235"> <!--id="receipt-<id>"-->
										  <h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#receipt-1235" aria-expanded="true" aria-controls="receipt-1235">
											  Collapsible Group Item #1
											</button>
										  </h2>
										</div>
									
										<div id="receipt-1235" class="collapse" aria-labelledby="receiptHead-1235" data-parent="#receiptsParent">
										  <div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										  </div>
										</div>
									</div>
									<p class="receipt-date">09.01.2020</p>
									<div class="card receipt">
										<div class="card-header" id="receiptHead-1236"> <!--id="receipt-<id>"-->
										  <h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#receipt-1236" aria-expanded="true" aria-controls="receipt-1236">
											  Collapsible Group Item #1
											</button>
										  </h2>
										</div>
									
										<div id="receipt-1236" class="collapse" aria-labelledby="receiptHead-1236" data-parent="#receiptsParent">
										  <div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										  </div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			{{{footer}}}  
		</div>

		{{{scripts}}}
	</body>
</html>