<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
            {{{navigation}}} 
            {{{menu}}}
			<div class="container">
				<div class="cardregister-form">
                    <h4>Payperless Account erstellen.</h4>
                    <div class="cardregister-top">
                        <div class="pp-card card-shadow">
                            <div class="card-top">
								<p class="">Nach der Registrierung wird automatisch eine digitale Payperless Karte für Dich generiert und Du kannst <strong>direkt loslegen</strong>.</p>
                                <input type="email" class="pp-input input-dark" value="{{email}}" id="uemail" placeholder="E-Mail-Adresse">
                                <div class="positioning">
                                    <input type="password" class="pp-input input-dark" id="password" placeholder="Passwort">
                                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Das Passwort muss mindestens 8 Zeichen lang sein sowie Klein-, Großbuchstaben und Zahlen enthalten z.B.: 'Maxmuster2006'"></i>
                                </div>
                                <div class="positioning">
                                    <input type="password" class="pp-input input-dark" id="passwordrepeat" placeholder="Passwort wiederholen">
                                </div>
                            </div>
                             <div class="card-bottom">
                                <button class="pp-btn inverted" id="confirmRegistration">Registrieren</button>
                            </div>
                        </div>
                    </div>
                    {{{simpleFooter}}}
                </div>
            </div>
        </div>
        {{{scripts}}}
	</body>
</html>
