<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
            {{{navigation}}} 
            {{{menu}}}
			<div class="container">
				<div class="card-form">
                    <h4>Geschafft! E-Mail Verifizerung erfolgreich.</h4>
                    <div class="cardform-top">
                        <div class="pp-card card-shadow">
                            <div class="card-top">
                                <a href="./"><img alt="Payperless Logo" src="/img/logo.png" class="pp-logo"></a>
                            </div>
                            <div class="card-middle">
								<p>Ihre E-Mail-Adresse <strong>{{useremail}}</strong> wurde erfolgreich bestätigt. Sie können Payperless nun nutzen.</p>
								<p class="mb-0">Diese Seite können Sie nun schließen oder sich anmelden.</p>
                            </div>
                            <div class="card-bottom">
                                <a href="./login" class="pp-btn inverted full-width">Anmelden</a>    
                            </div>
                        </div>
                    </div>
                    {{{simpleFooter}}}
                </div>
            </div>
        </div>
	</body>
</html>
