<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
			<div class="container">
				<div class="card-form">
                    <h4>Fehler bei der E-Mail Aktivierung.</h4>
                    <div class="cardform-top">
                        <div class="pp-card card-shadow">
                            <div class="card-top">
                                <a href="./"><img alt="Payperless Logo" src="/img/logo.png" class="pp-logo"></a>
                            </div>
                            <div class="card-middle">
								<p>Bei dem Versuch Ihre E-Mail Adresse <strong>{{useremail}}</strong> zu verifizieren ist ein Fehler aufgetreten.</p>
								<p class="mb-0">Klicke auf "<strong>Erneut versuchen</strong>" um einen neuen Aktivierungslink per E-Mail zu erhalten.</p>
                            </div>
                            <div class="card-bottom">
								<a class="pp-btn inverted" href="./retryuser?m={{id}}&c={{useremail}}">Erneut versuchen</a>
                            </div>
                        </div>
                    </div>
                    {{{simpleFooter}}}
                </div>
            </div>
        </div>
	</body>
</html>
