* { 
    font-family: "Nunito"; 
    font-weight: 400;
    color: $text-light; 
}

html { 
    font-size: 17px; 
}

@media (max-width: 1199px) and (min-width: 576px) {
    html { font-size: 16px; }
}

@media (max-width: 575px) {
    html { font-size: 15px; }
}

body {
    margin: 0; 
    padding: 0; 
    background-color: $dark; 
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
.home {
    section {
        padding: 4rem 0;
        text-align: center;
        //&:first-of-type {
        //    margin-top: 2rem;
        //}
        .row {
            align-items: center;
        }
    }
    
    section .container>p {
        margin-bottom: 2rem;
    }
    
    section>:last-child, div>:last-child {
        margin-bottom: 0;
    }
}

section {
    padding: 30px 0;
}


h1, h2, h3, h4, h5, h6 { 
    padding: 0; 
    font-family: 'Ubuntu'; 
    font-weight: 400; 
}

h2 { font-size: 2rem; color: $text-light; }

h3 { font-size: 1.5rem; }

h4 { font-size: 1.25rem; color: $text-light; }

h3 {
    color: $text-light;
}

h1, h2 {
    margin-bottom: 3rem;
}
h3, h4 {
    margin-bottom: 2rem;
}
h5, h6 {
    margin-bottom: 1.75rem;
}

.pp-text-primary {
    color: $primary !important;
}

p {
    color: $text-light;
    font-family: 'Nunito'; 
}

b {
    font-weight: 600;
    font-family: 'Nunito';
}

a { 
    font-family: 'Nunito';
    font-weight: 400; 
    color: $primary; 
    text-decoration: none; 
    &:hover, &:focus { 
        text-decoration: none;
        color: darken($primary, 10%); 
    }
}

.pp-link {
    font-family: 'Nunito';
    font-weight: 500;
    color: $primary !important; 
    text-decoration: none; 
    &:hover {
        color: $primary;
    }
}

img { 
    max-width: 100%; 
}

/* Boxes, Borders, Input Fields, Gradients */

.pp-dark { 
    background: $gray;
    color: $gray-light; 
}

.pp-light { 
    background: $dark; 
    color: $gray-light; 
}

.pp-input { 
    margin: 0;
    padding: 1rem;
    width: 100%;
    display: block;   
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: 'Ubuntu';
    font-size: 1rem;
    color: $gray-light;
    background: $gray;
    &:not(:first-of-type) {
        margin-top: 1.5rem;
    }
    &::placeholder {
        color: $gray-muted;
    }
    &.input-dark {
        background: $dark;
    }
    &:focus { box-shadow: inset 0 0 0 1px $primary; }
}

.pp-gradient {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, $dark 0%,rgba(35,44,59,0) 50%,$dark 100%);
    z-index: 0;
}

.pp-gradient-bottom {
    position: absolute;
    left: 0;
    top: 350px;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(0deg, $dark, transparent);
    z-index: 0;
}

.card-shadow {
    border-radius: 15px;
    box-shadow: 0 2px 3px 0px rgba(0,0,0,0.5);
}

/* Font styles */

.text-success {
    color: $primary !important;
}

.pp-hint-small {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.pp-text-dark {
    color: $text-dark;
    b {
        color: $text-dark; 
    }
}

.text-muted { 
    color: $gray-muted !important; 
    * { 
        color: $gray-muted !important; 
    }
    a {
        &:hover, &:focus { text-decoration: none; color: $primary !important; box-shadow: none; }
    }
}

.positioning {
    position: relative;
    i {
        position: absolute;
        top: 50%; right: 15px;
        transform: translateY(-50%);
        color: $dark;
        font-size: 1.5rem;
        &:hover, &:focus { color: $primary !important; }
    }

    .input-dark ~ i { color: $gray; } 

    .input-dark + p + i { transform: translateY(-100%); }
}
.size-xs { font-size: 0.875rem; }
.size-m { font-size: 1.125rem }
.size-l { font-size: 1.25rem; }

/* Buttons */

.pp-btn {
    text-align: center;
    margin: 0 auto; 
    padding: .75rem 2rem;
    min-width: 10rem;
    display: inline-block;
    border: 2px solid $primary;
    border-radius: 4px;
    outline: none;
    background-color: $primary;
    color: $gray;
    font-family: 'Ubuntu';
    font-size: 1.075rem;
    font-weight: 500;   
    transition: .25s;
    &:hover, &:focus {
        background: transparent;
        color: $primary;
    }

    &.outline {
        background: transparent;
        color: $primary;
        border: 2px solid $primary;
        &:hover, &:focus {
            background-color: $primary;
            color: $gray;
        }
    }

    &.inverted {
        background-color: $primary;
        color: $gray;
        &:hover, &:focus {
            background: transparent;
            color: $primary;
        }
    }
}

/* Header */

.navbar-brand {
    &:hover, &:focus { 
        text-decoration: none; 
        box-shadow: none; 
    }
}

/* Content */

.login-wrapper, .register-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}


/* Breakpoints */

@media (min-width: 1200px) {}

@media (max-width: 575px) {

    .pp-gradient-bottom {
        top: 250px;
    }

    .cardregister-form, .card-form { 
        .cardregister-top, .cardform-top { width: 100%;
            .pp-card {
                
            }
        }
        .cardregister-bottom {}
    }
}

/* ReCaptcha */
.grecaptcha-badge { display: none !important; }

/* Fonts */

/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('../fonts/ubuntu-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ubuntu-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ubuntu-v14-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
    font-display: swap;
}

/* ubuntu-500 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v14-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
         url('../fonts/ubuntu-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v14-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v14-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
    font-display: swap;
  }

/* ubuntu-700 - latin */
/*@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v14-latin-700.eot');
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('../fonts/ubuntu-v14-latin-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ubuntu-v14-latin-700.woff2') format('woff2'),
        url('../fonts/ubuntu-v14-latin-700.woff') format('woff'), 
        url('../fonts/ubuntu-v14-latin-700.ttf') format('truetype'),
        url('../fonts/ubuntu-v14-latin-700.svg#Ubuntu') format('svg');
    font-display: swap;
}*/

/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/nunito-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Regular'), local('Nunito-Regular'),
            url('../fonts/nunito-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/nunito-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/nunito-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('../fonts/nunito-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/nunito-v12-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-600 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('../fonts/nunito-v12-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
            url('../fonts/nunito-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/nunito-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/nunito-v12-latin-600.woff') format('woff'), /* Modern Browsers */
            url('../fonts/nunito-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/nunito-v12-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
}

@font-face{ 
    font-family:"Font Awesome 5 Pro";
    font-style:normal;
    font-weight:300;
    font-display:auto;
    src:url(../fonts/fa-light-300.eot);
    src:url(../fonts/fa-light-300.eot?#iefix) format("embedded-opentype"),url(../fonts/fa-light-300.woff2) format("woff2"),url(../fonts/fa-light-300.woff) format("woff"),url(../fonts/fa-light-300.ttf) format("truetype"),url(../fonts/fa-light-300.svg#fontawesome) format("svg")}.fal{font-weight:300}@font-face{font-family:"Font Awesome 5 Pro";
    font-style:normal;
    font-weight:400;
    font-display:auto;
    src:url(../fonts/fa-regular-400.eot);
    src:url(../fonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(../fonts/fa-regular-400.woff2) format("woff2"),url(../fonts/fa-regular-400.woff) format("woff"),url(../fonts/fa-regular-400.ttf) format("truetype"),url(../fonts/fa-regular-400.svg#fontawesome) format("svg")}.fal,.far{font-family:"Font Awesome 5 Pro"}.far{font-weight:400}@font-face{font-family:"Font Awesome 5 Pro";
    font-style:normal;
    font-weight:900;
    font-display:auto;
    src:url(../fonts/fa-solid-900.eot);
    src:url(../fonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../fonts/fa-solid-900.woff2) format("woff2"),url(../fonts/fa-solid-900.woff) format("woff"),url(../fonts/fa-solid-900.ttf) format("truetype"),url(../fonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.fas{font-family:"Font Awesome 5 Pro";
    font-weight:900;
    font-display: swap;
}