/* Header */
.pp-header {
	width: 100%;
	height: 580px;
	background-image: url('../img/pp-header.jpg');
	background-position: 40% 60%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	.container {
		height: 100%;
		position: relative;
		z-index: 1;
		.pp-header-wrapper {
			padding: 0 15px;
			position: absolute;
			width: 50%;
			left: 0;			 
			top: 50%;
			transform: translateY(-50%);
			.pp-headline-light {
				font-size: 60px;
				color: $text-light;
				margin: 0 0 3rem 0;
			}
		}
	}
	.reghint { text-shadow: 1px 1px 0 #000; }
}

/* Home */
.home {
	.root { margin-top: 0; 
	}
}

/* Root */
.root { overflow: hidden; margin-top: 60px; }
.root > .container {
	min-height: calc(100vh - 90px);
}

/* Barcode Page */
html.barcode {
	.root > .container {  min-height: calc(100vh - 60px); flex-direction: column; justify-content: space-evenly; display: flex; align-items: center;
		.pp-scan-code { max-width: 220px; width: 100%; height: auto; }
	}
}

/* Section */

section {
	img {
		display: block;	
		margin: 0 auto;		
	}
	.text-container {
		width: 60%;
   	 	margin: 0 auto 1.5rem auto;
	}
}

#how-it-works, #plant-trees, #partner {
	img {
		margin: 1.5rem auto;
	}
}

#support-payperless {
	background: $gray !important;
	.row {
		align-items: baseline;
		.support {
			margin-bottom: 1.5rem;
			i {
				margin-right: 1.5rem;
				font-size: 4rem;
				color: $primary;
			}
			#support-counter {
				font-size: 4rem;
				font-weight: 700;
				font-family: 'Ubuntu';
				color: $primary;
			}
		}
		.share {
			i {
				font-size: 2rem;
				color: $primary;
				&:not(:last-of-type) {
					margin-right: 1.5rem;
				}
			}
		}
		#support-email {
			margin-bottom: 1.5rem;
		}
		.checkbox-mask-wrapper {
			align-items: center;
			.checkbox-mask {
				background: $dark;
			}
			&:first-of-type {
				margin-bottom: 1.5rem;
			}
		}
		#support-submit {
			margin-top: 1.5rem;
		}
	}
}

.support { margin-bottom: 1.5rem;
	i {
		margin-right: 1.5rem;
		font-size: 4rem;
		color: $primary;
	}
	#support-counter {
		font-size: 4rem;
		font-weight: 700;
		font-family: 'Ubuntu';
		color: $primary;
	}
}
 
#how-it-works {
	.pp-card-wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.pp-app-img { width: 200px; }
	.pp-card-img { width: 350px; border: 1px solid #111; }
	.fit-height {
		p { margin: 0; 
			b { margin: 0; }
		}
		.pp-text-dark { margin: 1.5rem 0; }
	}
}

#advantages {
	background: $gray;
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,.125), inset 0 -1px 0 0 rgba(0,0,0,.125);
	.pp-advantages-img {
		width: 70%;
	}
	ul {
		padding: 0;
		text-align: left;
		li {	
			margin-bottom: 1.5rem; 
			font-family: 'Nunito'; 
			font-size: 1.5rem;
			list-style: none;
			display: flex;
			flex-direction: row;
			align-items: baseline;
			
			.fa-check-circle {
				margin-right: 12px;
				color: $primary;
				font-weight: 600;
			}
			b {
				color: $text-dark;
			}
			span { color: $text-dark; }
		}
	}	
}

#plant-trees {	
	.pp-tree-img {
		width: 30%;
		margin-bottom: 3rem;  
	}	 
}

#tree-counter {
	padding: 6rem 0;
	background-image: url('../img/pp-header.jpg');
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	.pp-tree-counter-img {
		width: 70%;
	}
	.pp-gradient {
		z-index: -1;
	}
	.flip-clock-wrapper {
		display: flex;
		justify-content: center;
		margin: 0 0 3rem 0;
		ul {
			&.flip {
				margin: 1.5rem;
				width: 85px;
				transform: scale(1.4);
			}
			a {
				&:hover, &:focus {
					box-shadow: none !important;
				}
			}
		}
	}
}

#partner {
	.pp-become-partner-link {
		display: inline-block;
		.pp-become-partner {
			padding: .85rem 3rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border: 2px solid $text-dark;
			border-radius: 4px;
			b {
				display: block;
				font-size: 1rem;			
				color: $text-dark;
			}
			.fa-store {
				margin-bottom: 0.5rem;			
				font-size: 1.8rem;
				color: $text-dark;
			}
			&:hover, &:focus {
				background: $text-dark;
				b, .fa-store {
					color: $dark;
				}
			}
		}
		&:hover, &:focus {
			box-shadow: none;
		}
	}
	.col-12 > .pp-become-partner-link:not(:last-of-type) { margin-right: .75rem; }
}

#faq {
	#accordion {
		margin: 0 auto;
		width: 60%;
		.card {
			margin-bottom: 2rem;
			background: transparent;
			border: none;
			.card-header {
				background: transparent;
				border: none;
				.btn {
					font-family: "Nunito";
					padding: 0 1.5rem 0 0;
					width: 100%; 
					text-align: left;
					font-size: 1.2rem;
					color: $text-light;
					font-weight: 600;
					text-decoration: none;
					.fa-chevron-down {
						position: absolute;
						right: 0;
					}
				}
			}
			.card-body {
				text-align: left;
				background: $gray !important;
				font-family: "Nunito";
				color: $text-dark;
				box-shadow: 0 0 0 10px $dark;
				b {
					color: $text-dark;
				}
			}
		}
	}
}

/* Cards */

.card {
	.card-top { padding-bottom: 20px; }
	.card-bottom { margin-top: 20px; 
		> input { border-radius: 15px; }
		> input:not(:first-of-type) { margin-top: 30px; }
		button { margin-top: 30px; border-radius: 15px; }
	}
}

.card.card-dark { 
	padding: 30px;
	background: $gray; 
	color: $gray-light; 
	border: 0;  
	box-shadow: 0 2px 4px -3px #000000;
	border-radius: 15px;
}

/* MISC */
.card-shadow { box-shadow: 0 2px 3px 0px rgba(0,0,0,.5); }
.input-inset-shadow { box-shadow: inset 0 2px 2px 0 $shadow; }
.home p { font-size: 1.25rem; }

/* Posts */

.content {
	.post {
		.skeleton {}
		.skeleton-buttons {
			width: 150px;
			margin-top: 30px;
			margin-right: 15px;
			margin-left: auto;
		}
		.card { background: $gray; color: $gray-light; border: 0; box-shadow: 0 2px 4px -3px #000000;
			.post-top { padding-bottom: 20px; box-shadow: 0 1px 0 0 $dark; 
				.post-user { display: flex; align-items: center;
					h4 { font-size: 1rem; font-weight: 500; margin-bottom: 0; }
					small { font-size: .75rem; color: $gray-muted; } 
					.post-user-avatar { width: 56px; height: 56px; background-size: cover; border-radius: 100px; margin-right: 15px; }
				}
			}
			.post-bottom { margin-top: 20px; }
		}
	}
}

/* Profile */

.profile-sidebar { box-shadow: -1px 0 0 0 $gray; 
	.profile {  
		width: 100%;
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;  
		color: $gray-light; 
		.profile-sidebar-avatar { height: 80px; width: 80px; margin-bottom: 15px; border-radius: 100px; box-shadow: 0 2px 4px -3px #000000;
			&:hover, &:focus { transform: scale(1.05); }
			a { display: block; height: 100%; width: 100%; }
		}
		.profile-username { 
			a { font-size: 1.125rem; color: $gray-muted; 
				&:hover, &:focus { text-decoration: none; color: $primary; }
			}
		}
		> h3 { margin-top: 30px; margin-bottom: 0; letter-spacing: 1px;
			+ h4 { font-family: "Work Sans"; font-weight: 500; margin-top: 10px; margin-bottom: 0; letter-spacing: 1px; }
		}
	}
}
 
/* Registration */

.registration {
	.registration-wrap { 
		.card { padding: 30px 45px; }
		&.nickname { display: none; }
	}
}


.cardregister, .register, .acivationsuccess, .activationerror, .activationsuccess, .login, .linkcard, .construction, .reset, .error, .forgot {
	.container { display: flex; justify-content: center; align-items: center; }  
 }

.construction {
	h4 { font-size: 2rem !important; transform: translateY(-30px); }
	.footer-links { text-align: center; }
}

.pp-card {
	position: relative; padding: 1.5rem 2rem; background: $gray; border-radius: 15px; display: flex; flex-direction: column;
	.form-row {
		> .form-group { margin-bottom: 0; }
		> .form-group:not(:first-of-type) { margin-top: 1rem; }
	}
	.passworderror { margin-top: .35rem; margin-bottom: 0; }
	#email-change-form, #password-change-form {
		#hasProvider { display: none; }
		.email-change-disabled {
			strong { text-transform: capitalize; }
		}
	}
}

 .cardregister-form, .register-form, .card-form { color: $gray-light; max-width: 550px; width: 100%;
	h4 { margin-bottom: 3rem; color: $text-light; text-align: center; font-size: 1.5rem; }
	.cardregister-top, .cardform-top { max-width: 500px; margin: 0 auto;
		.pp-card { position: relative; padding: 1.5rem 2rem; background: $gray; border-radius: 15px; display: flex; flex-direction: column;
			div + div { margin-top: 1.5rem; }
			.card-top, .pp-brand { 
				a {
					> .pp-logo { width: 130px; height: auto; }
					&:hover, &:focus { text-decoration: none; box-shadow: none; }
				}
			} 
			.card-middle {
				#barcode { width: 280px; height: 80px; display: block; }
				#cardnumber { max-width: 280px !important; width: 100%; display: inline-block; padding: .5rem 1rem; font-size: 1.125rem; letter-spacing: 1px; background: #232c3b; text-align: center; box-shadow: inset 0 2px 2px 0 $shadow; margin: 0; 
					+ input { font-weight: 600;  background: $primary; color: $gray; border: 0; border-radius: 4px !important; padding: .5rem 1rem; display: inline-block; height: 42px; padding: .5rem 1rem; font-size: 1.125rem; font-family: "ubuntu"; margin-left: 6px;
						&:hover { background: $gray; box-shadow: inset 0 0 0 1px $primary; color: $primary; }
						&:active { transform: scale(.95); }
					}
					&:focus { box-shadow: inset 0 0 0 1px $primary; }
				}
			}
			.card-bottom {
				#qrcode { width: 90px; }
				.pp-card-hint { color: $primary; margin: 0; 
					> * { color: $primary; }
					> label {
						margin-bottom: 0;
					}
				}
			}
		  
		}
		+ .footer-links { margin-top: 1.5rem; text-align: center; margin-bottom: 0;
			> li { 
				&:not(:first-of-type) { margin-left: .75rem; }
			}
		}
	}
	
	.cardregister-bottom { margin-top: 1rem; 
		#customermail { border-radius: 15px; }
	} 

	&.step-2 {
	
	}

	input + .positioning, 
	.positioning + .positioning,
	input + p + .positioning { margin-top: 1.5rem; }
}

/* Receipts */

.receipts {
	.filtercol {
		.filteroptions-wrapper {
			display: flex;
			justify-content: space-between;
			button {
				padding: 5px 8px;
				border: 0;
				border-radius: 5px;
				background: $gray;
				font-size: 14px;
				color: $text-light;
				transition: .25s;
				i {
					margin-right: 8px;
				}
				&:hover, &:focus, &:visited {
					outline: none;
					background: darken($gray, 3%);
					color: lighten($text-light, 10%);
				}
			}
		}
		.filter-wrapper {
			input {
				padding: 5px 8px;
				border: 0;
				border-radius: 5px;
				background: #1b232f;
				font-size: 14px;
				color: darken($text-light, 15%);
				&:hover, &:focus {
					outline: none;
				}
				&::placeholder {
					color: darken($text-light, 15%);
				}
			}
			.date-filters {
				margin-top: .75rem;
				display: none;
				input {
					width: 48%;
					&:first-of-type {
						float: left;
    					margin-right: 4%;
					}
				}
			}
			.shop-filter {
				margin-top: .75rem;
				display: none;
				input {
					width: 100%;
				}
			}
			.product-filter {
				margin-top: .75rem;
				display: none;
				input {
					width: 100%;
				}
			}
		}
	}

	.receipcol {
		section {
			padding: 0;
			&:not(:last-of-type) {
				padding: 0 0 30px 0;
			}
		}
		.receipt-date {
			margin: 1.5rem 0;
			display: inline-block;
  			width: 100%;
			text-align: center;
			font-size: .9rem;
			color: $gray-muted;
			text-transform: uppercase;
			letter-spacing: .09rem;
		}
		.card.receipt {
			margin-bottom: 1.5rem;
			background: $gray;
			.card-header {
				padding: 0;
				.bill-info-short {
					padding: 15px;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.vendor-info-short {
						width: 100%;
						display: flex;
						align-items: center;
						.vendor-brand {
							margin-right: 15px;
							width: 45px;
							height: 45px;
							border-radius: 100%;
							background: $dark;
							flex-shrink: 0;
						}
						.purchase-info-short {
							text-align: left;
							.vendor-name {
								margin: 0;
								font-size: 0.9rem;
								color: $text-light;
								font-weight: 600;
								width: 80%;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
							}
							.purchase-time {
								margin: 0;
								font-size: 0.9rem;
								color: $gray-muted;
							}
						}
						.purchase-amount {
							margin-left: auto;
							font-size: 1rem;
							color: $text-light;
							font-weight: 700;
						}
					}
					&:hover, &:focus {
						text-decoration: none;
					}
				}
			}
			.card-body { padding: 15px 0;
				
				.item-tax {
					color: $text-dark;
				}
				
				.amount-row {
					.amount-hl, .amount {
						font-size: 1.2rem;
						font-weight: 700;
					}	
				}
			
				.receipt-info-row, 
				.eccard-info-row, 
				.tax-row, 
				.concessionaire-tax-row, 
				.vendor-info-row, 
				.vendor-contact, 
				.advertising {
					font-size: 10px;
					div {
						color: $text-dark;
					}
				}
				
				.item-price-col,
				.amount-col,
				.receipt-info-number-col,
				.eccard-info-col,
				.eccard-info-paid-hl,
				.tax-net-col, 
				.tax-col, 
				.tax-gross-col,
				.vendor-info-col  {
					text-align: right;
				}
				
				.receipt-barcode img {
					margin: 0;
				}

				.vendor-contact, .advertising {
					p, b, li, i {
						font-size: 12px;
						color: $text-dark;
					}
					
					ul {
						margin: 0;
						padding: 0;
						li {
							list-style: none;
							i {
								margin-right: 10px;
							}
						}
					}
				}
			}
		}
	}	
}

/* Social Logins */
.social-logins{ margin-bottom: 0; margin-top: 1.5rem; display: flex; justify-content: space-between; align-items: center;
	> li { width: 100%;
		img {}
		> .pp-btn-social { display: block; width: 100%; height: 50px;
			&.social-login-google { background: url('/img/btn_google_signin_dark_normal_web@2x.png'); background-size: contain; background-repeat: no-repeat;
				&:focus {}
				&:active {}
			}
		}
	}	
}


/* Contact */
@media (max-width: 991px) {
	.root > .container {
		min-height: calc(100vh - 60px);
	}
	div[class*="col-"] + div[class*="col-"] { margin-top: 2rem; }
	html.contact {
		.row {
			> .col-12 {
				&:not(:first-of-type) { margin-top: 2rem; }
			}
		}
	}
}

/* Footer */

footer {
	padding: 3rem 0;
	position: relative;
	background-color: $gray;
	h5 {
		color: $text-dark;
	}
	ul {
		display: block;
		width: 100%;
		padding: 0;
		li { 
			display: inline-block;
			list-style: none;
			a {
				font-family: 'Nunito';
				color: darken($text-dark, 15%);
				font-weight: 600;
				font-size: 1.125rem;
				&:hover, &:focus {
					box-shadow: none !important;
				}
			}
		}
		> li:not(:last-of-type) { margin-right: 1.5rem; }
		&.socials {
			i {
				font-size: 1.5rem;
				color: $primary;
			}
		}
		&.legals {
			margin-bottom: 3rem;
		}
	}

	.pp-logo-img {
		margin-bottom: 3rem;
		width: 140px;
	}
	.pp-footer-forrest {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		height: 280px;
		transform: translateY(-77%);
		background-image: url('/img/pp-footer-forrest.svg');
		background-size: contain;
		background-position: center;
		background-repeat: repeat-x;
	}
}

html.start { background: transparent;
	.root { padding-bottom: 5rem; background: $gray; margin-top: 0; }
	section { background: $gray; }
	footer { padding-bottom: 1rem; z-index: 1;
		.pp-footer-forrest { 
			height: 250px;
			background-image: url('/img/pp-footer-forrest-light.svg');
			transform: none;
			background-size: cover;
			background-position: 98% top;
		}
		.legals { padding-bottom: 2rem; margin: 0; }
	}
	.socials { display: flex; align-items: center; align-items: center;
		> li:not(:last-child) { margin-right: 1rem; }
	}
}


.footer-links { margin-top: 1.5rem; text-align: center;
	> li {
		> a { color: $gray-muted; font-size: 90%;
			&:hover, &:focus { color: $primary; box-shadow: none;}
		}
	}
}

/* Cookie Bar */
.cookie-bar {
	position: fixed;
	bottom: 0; right: 0; left: 0; z-index: 2;
	background: $gray !important;
	.cookie-text { padding: .75rem 0; position: relative; 
		p { margin: 0; display: flex; align-items: center; font-size: .85rem; color: $text-dark; }
		a { cursor: pointer; }
		#cookie-agree { cursor: pointer; margin-left: 1rem; font-size: 25px; color: $text-dark; }
	}
}

/* Breakpoints */

@media (min-width: 992px) {
	.registration {
		.registration-wrap { width: 500px; }
	}
	.start {
		.root {
			> section {
				.navbar-brand { margin-bottom: 2rem; }
			}
		}
	}
} 

@media (min-width: 1200px) {
	.content { margin-top: 30px;
		> .post {
			&:not(:first-of-type) { /*box-shadow: inset 0 1px 0 $gray;*/ margin-top: 20px; padding-top: 20px; }
		}
	}
	.post { 
		.card { padding: 20px 30px; border-radius: 15px; }
	}	

	#plant-trees {
		img { width: 50%; }
	}

	#how-it-works { 
		> p { width: 60%; margin: 0 auto; }
	}

	html.start { background: transparent;
		.root { padding-bottom: 7rem;

		}
	}
} 

@media (max-width: 1199px) and (min-width: 992px) {

}

@media (max-width: 991px) and (min-width: 768px) {

}

@media (max-width: 991px) {
	.pp-header {
		height: 480px;
		.pp-header-wrapper {
			width: 100% !important;
			padding: 0 15px;
			top: 15% !important;
			transform: none !important;
			.pp-headline-light {
				font-size: 50px !important;
			}
		}
	}
	#faq {
		#accordion { 
			width: 100%;
		}
	}
	html.start {
		footer {
			.pp-footer-forrest { 
				height: 180px !important;
			}
		}
	}
}

@media (max-width: 767px) {
	.flip-clock-wrapper {
		ul {
			&.flip {
				margin: 5px !important;
				transform: none !important;
			}
		}
	}
	html.start {
		.root {
			> section {
				.navbar-brand { margin-bottom: 1rem; }
				padding: 15px 0;
			}
		}
	}
}

@media (max-width: 767px) and (min-width: 576px) {
	
}

@media (max-width: 767px) {
	footer { padding: 0; }
	.cookie-bar { top: 0; bottom: unset; background: $gray ;
		.cookie-text { padding-right: 2rem; font-size: 12px;
			p { display: block; }
			#cookie-agree { position: absolute; top: 10px; right: 8px; }
		}
	}
}

@media (max-width: 575px) {
	h3 { margin-bottom: 2rem; }
	.root > .container {
		//height: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		//margin: 2rem 0 1rem 0;
	}

	.pp-header {
		height: 420px;
		.pp-header-wrapper {
			width: 100% !important;
			padding: 0 15px;
			top: 50% !important;
			transform: translateY(-50%) !important;
			.pp-headline-light {
				font-size: 40px !important;
			}
		}
	}
	section { padding: 3rem 0;
		&#tree-counter { padding: 3rem 0; }
		&:first-of-type { margin-top: 0; }
		img {
			margin: 1.5rem auto;
			display: block;			
		}
		.text-container {
			width: 100%;
		}
	}

	#support-payperless {
		.row {
			> .col-12:first-child {
				margin-bottom: 2rem; margin-top: 2rem; order: 1;
			}
			> .col-12:nth-child(1n+2) { margin-top: 0; }
			h4 {
				text-align: center;
			}
		}
		.share { margin-top: 2rem;
			.socials { text-align: center; }
		}
		
	}

	#how-it-works {
		.pp-app-img { width: 200px; }
		.pp-card-img { width: 250px; }
		.row {
			> .col-12:last-of-type { margin-top: 2rem; }
		}
	}

	#advantages {
		.pp-advantages-img {
			margin-bottom: 3rem;
		}
	}

	#plant-trees {
		.pp-tree-img {
			width: 75%;
		}
	}

	#tree-counter {
		.pp-tree-counter-img {
			width: 100%;
		}
	}

	.cardregister-form, .register-form, .card-form { width: 100%;
		> h4 { font-size: 1.75rem; }
		.cardregister-top, .cardform-top {
			.pp-card {
				.pp-brand { text-align: center;
					.pp-logo { max-width: 120px; }
				}
				.card-middle {
					#barcode, #cardnumber { margin: 0 auto; }
					#cardnumber { display: block; 
						+ input { max-width: 280px; width: 100%; margin: 0 auto; display: block; margin-top: 1rem; 
							+ p { text-align: center; margin-top: 5px !important; }
						}
					}
					
				}
				.card-bottom { text-align: center;
					.pp-card-hint { margin: 0; }
				}
				
			}
		}
	}


	footer {
		.pp-footer-forrest { height: 100%; width: auto; background-size: cover; background-position: 99%; }
		.pp-logo-img {
			margin-top: 1.5rem;
		}
	}
}

@media (max-width: 321px) {
	.receipts {
		.vendor-name, .purchase-time, .purchase-amount {
			font-size: 12px !important;
		}
	}
}

/* MISC */
.pp-card-hint { color: $primary; }
.legals {
	li {
		a { color: $gray-muted; 
			&:hover, &:focus { color: $primary; }
		}
	}
}
.prompt-app-download { color: $primary !important; cursor: pointer; 
	&:hover, &:focus { color: darken($primary, 10%) !important; }
}

.checkbox-mask-wrapper { display: flex; 

	> .checkbox-mask { position: relative;
		&:after { color: transparent; position: absolute;  top: 50%; left: 50%; transform: translate(-50%, -50%); content: "\f00c"; font-size: 18px; font-family: "Font Awesome 5 Pro"; }
	}
	
	&:hover, &:focus { 
		> .checkbox-mask {
			&:after { color: lighten($dark,10%); } 
		} 
	}

	> input[type="checkbox"] { position: absolute; opacity: 0; height: 0; width: 0; cursor: pointer; 
		&:checked {
			+ .checkbox-mask { 
				&:after { color: $primary; } 
			}
		}
	}
	> .checkbox-mask { width: 28px; height: 28px; margin-right: 8px; background: $gray; border-radius: 4px; flex-shrink: 0; display: inline-block ; }
}

input:disabled { background-color: #585858 !important; border: 2px solid #585858 !important; color: $gray !important; } 

/* Construction */
html.construction {
	h4 { text-align: center; }
}

/* Startnext Widget */
.cfw-widgetModalBody { background: $gray !important; color: $text-dark !important; margin: 0 auto !important; margin-bottom: 2rem !important; 
	.cfw-headline { font-weight: 600 !important; font-family: "Nunito" !important; font-size: 1.125rem !important; color: $text-dark !important; }
	.cfw-contains {
		.cfw-content { overflow-y: auto !important; }
		.cfw-shadow { display: none !important; }
	} 
	* { font-family: "Nunito" !important; }
	.cfw-footer {
		a.cfw-widget-btn { background-color: $primary !important; 
			> span { color: $gray !important; font-weight: 500 !important; }
		}
	}
	.cfw-image {
		> img { margin: 0 0 1.5rem 0 !important; }
	}
}