$dark: #232C3B; //#232C3B
$gray: #1b232f; 
$gray-muted: #7f92b1;
$gray-light: #b7d0f8;
$text-light: #DCDCDC;
$text-dark: #a2b2c7;
$border: #324c77; 

$primary: #63E789;
$secondary: #9b3431;  

$shadow: #141b27;
$pp-borderradius: 4px;