html {
  font-size: 16px;
}

html body {
  font-family: "Work Sans" !important;
  font-weight: 300 !important;
}

* {
  -webkit-transition: 0s !important;
  transition: 0s !important;
}

body {
  background: #232020;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4 {
  font-family: "Quicksand";
  font-weight: 600;
}

.text-muted {
  color: #989898 !important;
}

.klix-dark-input {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.25rem;
  padding: 8px 5px;
  color: #f1f1f1;
  background: #232020;
  width: 100%;
  text-align: center;
  outline: none !important;
}

.klix-dark-input:focus {
  -webkit-box-shadow: 0 0 0 2px #FF7315;
          box-shadow: 0 0 0 2px #FF7315;
}

.btn-klix-primary {
  font-family: "Quicksand";
  font-weight: 500;
  background: transparent;
  border: 2px solid #FF7315;
  padding: 5px 30px;
  color: #f1f1f1;
  border-radius: 15px;
  outline: none !important;
}

.btn-klix-primary:hover, .btn-klix-primary:focus {
  background: #FF7315;
  color: #232020 !important;
  font-weight: 500 !important;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* FONTS */
/* quicksand-500 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/quicksand-v19-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/quicksand-v19-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-v19-latin-500.woff2") format("woff2"), url("../fonts/quicksand-v19-latin-500.woff") format("woff"), url("../fonts/quicksand-v19-latin-500.ttf") format("truetype"), url("../fonts/quicksand-v19-latin-500.svg#Quicksand") format("svg");
  /* Legacy iOS */
}

/* quicksand-600 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/quicksand-v19-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/quicksand-v19-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-v19-latin-600.woff2") format("woff2"), url("../fonts/quicksand-v19-latin-600.woff") format("woff"), url("../fonts/quicksand-v19-latin-600.ttf") format("truetype"), url("../fonts/quicksand-v19-latin-600.svg#Quicksand") format("svg");
  /* Legacy iOS */
}

/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/quicksand-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/quicksand-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-v19-latin-regular.woff2") format("woff2"), url("../fonts/quicksand-v19-latin-regular.woff") format("woff"), url("../fonts/quicksand-v19-latin-regular.ttf") format("truetype"), url("../fonts/quicksand-v19-latin-regular.svg#Quicksand") format("svg");
  /* Legacy iOS */
}

/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/quicksand-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/quicksand-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-v19-latin-700.woff2") format("woff2"), url("../fonts/quicksand-v19-latin-700.woff") format("woff"), url("../fonts/quicksand-v19-latin-700.ttf") format("truetype"), url("../fonts/quicksand-v19-latin-700.svg#Quicksand") format("svg");
  /* Legacy iOS */
}

/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/work-sans-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Work Sans Light"), local("WorkSans-Light"), url("../fonts/work-sans-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/work-sans-v5-latin-300.woff2") format("woff2"), url("../fonts/work-sans-v5-latin-300.woff") format("woff"), url("../fonts/work-sans-v5-latin-300.ttf") format("truetype"), url("../fonts/work-sans-v5-latin-300.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Work Sans"), local("WorkSans-Regular"), url("../fonts/work-sans-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/work-sans-v5-latin-regular.woff2") format("woff2"), url("../fonts/work-sans-v5-latin-regular.woff") format("woff"), url("../fonts/work-sans-v5-latin-regular.ttf") format("truetype"), url("../fonts/work-sans-v5-latin-regular.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

nav {
  height: 60px;
}

nav.navbar {
  padding: 0 !important;
  background: #2f2f2f !important;
  -webkit-box-shadow: 0 -3px 6px 0 #000;
          box-shadow: 0 -3px 6px 0 #000;
}

nav.navbar .navbar-brand {
  padding: .5rem 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.navbar .container {
  display: block;
}

nav.navbar .container > .row > .col-xl-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.navbar a {
  font-family: "Quicksand";
  font-weight: 500;
}

nav.navbar a:hover, nav.navbar a:focus {
  color: #FF7315;
  text-decoration: none;
}

nav .navbar-brand {
  padding: .5rem 0 !important;
}

nav .navbar-brand img {
  width: 55px;
  height: auto;
}

.registration nav .reg-link {
  display: none;
}

.registration nav + .container {
  height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration nav + .container .registration-wrap {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  text-align: center;
  color: #f1f1f1;
}

.card.card-dark {
  padding: 30px;
  background: #2f2f2f;
  color: #f1f1f1;
  border: 0;
  -webkit-box-shadow: 0 2px 4px -3px #000000;
          box-shadow: 0 2px 4px -3px #000000;
  border-radius: 15px;
}

.content .post .skeleton-buttons {
  width: 150px;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: auto;
}

.content .post .card {
  background: #2f2f2f;
  color: #f1f1f1;
  border: 0;
  -webkit-box-shadow: 0 2px 4px -3px #000000;
          box-shadow: 0 2px 4px -3px #000000;
}

.content .post .card .post-top {
  padding-bottom: 20px;
  -webkit-box-shadow: 0 1px 0 0 #232020;
          box-shadow: 0 1px 0 0 #232020;
}

.content .post .card .post-top .post-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .post .card .post-top .post-user h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.content .post .card .post-top .post-user small {
  font-size: .75rem;
  color: #989898;
}

.content .post .card .post-top .post-user .post-user-avatar {
  width: 56px;
  height: 56px;
  background-size: cover;
  border-radius: 100px;
  margin-right: 15px;
}

.content .post .card .post-bottom {
  margin-top: 20px;
}

.profile-sidebar {
  -webkit-box-shadow: -1px 0 0 0 #2f2f2f;
          box-shadow: -1px 0 0 0 #2f2f2f;
}

.profile-sidebar .profile {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1f1f1;
}

.profile-sidebar .profile .profile-sidebar-avatar {
  height: 80px;
  width: 80px;
  margin-bottom: 15px;
  border-radius: 100px;
  -webkit-box-shadow: 0 2px 4px -3px #000000;
          box-shadow: 0 2px 4px -3px #000000;
}

.profile-sidebar .profile .profile-sidebar-avatar:hover, .profile-sidebar .profile .profile-sidebar-avatar:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.profile-sidebar .profile .profile-sidebar-avatar a {
  display: block;
  height: 100%;
  width: 100%;
}

.profile-sidebar .profile .profile-username a {
  font-size: 1.125rem;
  color: #989898;
}

.profile-sidebar .profile .profile-username a:hover, .profile-sidebar .profile .profile-username a:focus {
  text-decoration: none;
  color: #FF7315;
}

.profile-sidebar .profile > h3 {
  margin-top: 30px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.profile-sidebar .profile > h3 + h4 {
  font-family: "Work Sans";
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.card .card-top {
  padding-bottom: 20px;
}

.card .card-bottom {
  margin-top: 20px;
}

.card .card-bottom > input {
  border-radius: 15px;
}

.card .card-bottom > input:not(:first-of-type) {
  margin-top: 30px;
}

.card .card-bottom button {
  margin-top: 30px;
  border-radius: 15px;
}

.registration .registration-wrap .card {
  padding: 30px 45px;
}

.registration .registration-wrap.nickname {
  display: none;
}

@media (min-width: 768px) {
  .registration .registration-wrap {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .registration .registration-wrap {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .registration .registration-wrap {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .content {
    margin-top: 30px;
  }
  .content > .post:not(:first-of-type) {
    /*box-shadow: inset 0 1px 0 $gray;*/
    margin-top: 20px;
    padding-top: 20px;
  }
  .post .card {
    padding: 20px 30px;
    border-radius: 15px;
  }
}
/*# sourceMappingURL=style.css.map */