<footer>
    <div class="pp-footer-forrest"></div>
    <div class="container">
        <div class="row">
            <div class="d-xs-none col-sm-4"></div>
            <div class="col-12 col-sm-4 text-center">
              <!--<h5>Infos</h5>-->
              <img src="/img/logo.png" class="pp-logo-img" alt="Payperless Logo">
                <ul class="legals">
                    <li>
                        <a href="/privacy">Datenschutz</a>
                    </li>
                    <li>
                        <a href="/contact">Kontakt</a>
                    </li>
                    <li>
                        <a href="/contact">Impressum</a>
                    </li>
                </ul>
                <ul class="list-inline socials">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/Payperless-106179730919724/" class="mr-2" title="Payperless Facebook" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/Payperless2" class="mr-2" title="Payperless Twitter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/payperless_com/" title="Payperless Instagram" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-xs-none col-sm-4"></div>
            <!--
            <div class="col-6 col-sm-4">
                <h5>Services</h5>
                <ul>
                    <li>
                        <a href="#">Baumfarm</a>
                    </li>
                    <li>
                        <a href="#">Partner werden</a>
                    </li>
                    <li>
                        <a href="#">Spenden</a>
                    </li>
                </ul>
            </div>
         
            <div class="col-12 col-sm-6 text-right">
                <img src="/img/logo.png" class="pp-logo-img" alt="Payperless Logo">
            </div>
               -->
        </div>
    </div>
</footer>