<script src="/js/jquery.min.js"></script> 
<script src="/js/validator.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
<!--<script src="/js/flipclock.min.js"></script>-->
<script src="/js/workbox-sw.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LcRYMwUAAAAADpsnmTkt8eKvr6IbCuHsk-JIPdT"></script>
<script src="/js/jsbarcode.min.js"></script> 
<script src="/js/custom.js"></script>  